*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.img-films{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.img-poster{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.img-actors{
    width: 100px;
    height: 150px;
    object-fit: cover;
}
.genre{
    margin-right: 5px;
}
.img-actor{
    width: 300px;
    height: 300px;
    object-fit: cover;
}